@tailwind base;
@tailwind components;
@tailwind utilities;

#body {
    background: linear-gradient(180deg, #010208 16.39%, #010206 20.51%, #040008 24.79%, #010101 30.46%, #010101 34.11%, #010101 36.21%, #010101 100%);
    font-family: var(-workSans-font);
    font-weight: 300;
}

.nav {
    font-family: var(-workSans-font);
    font-weight: 500;
    @apply flex items-center justify-between py-5 w-full sticky top-0 z-50
}

.item {
    @apply relative tracking-[-1px] hover:text-white cursor-pointer
}

.item::after {
    @apply content-[''] bg-[#3154E2] h-[3px] w-[0%] left-0 -bottom-[5px] rounded-xl absolute duration-300
}

.item:hover::after {
    @apply w-[100%]
}

@keyframes show {
    from {
        opacity: 0;
        scale: 25%;
    }

    to {
        opacity: 1;
        scale: 100%;
    }
}


html {
    scroll-behavior: smooth;
}

.title {
    font-family: var(-workSans-font);
    font-weight: 600;
    letter-spacing: 4px;
    /* Ajusta este valor según tus necesidades */

}

.span {
    font-family: var(-workSans-font);
    font-weight: 300;
    color: E3E4E6;
    letter-spacing: 4px;
    /* Ajusta este valor según tus necesidades */

}


#parrafo {
    font-family: var(-inter-font);
    font-weight: 400;
    font-kerning: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-transform: capitalize;
    font-feature-settings: 'calt' off;
    font-size: 16px;


}